html {
    background-color: #F3E2A9;
    text-align: center;
}

/* Image Style */
img {
    float: right;
    width: 160px;
    height: 200px;
    border-radius: 50%;
    margin: 25px 25px; 
}

/* Paragraph Style */
p {
    margin: 50px;
    text-align: justify;
}

p:last-of-type {
    padding-bottom: 50px;
}

/* Navigation Style */
nav > ul > a{ 
}
nav > ul > a > li {
    display: inline-block;
    position: relative;
    background-color: whitesmoke;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    list-style-image: none;
    padding-right: 50px;
    padding-left: 50px;
    border: solid black 1px;
}

nav > ul > a > li:hover {
    background-color: red;
    color: white;
}

/* Footer Style */
footer > address {
    text-align: center;
    border-top: solid red 2px;
}
